/* ----------------------- footer ----------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    height: 128px;
    border-top: 1px solid #27353c;
    padding-top: 30px;
}

.footer__logo {
    width: 10%;
    padding-top: 16px;
}

.footer__menu {
    width: 30%;
    padding-top: 18px;
    margin-left: 50px;
}

.footer__social {
    width: 30%;
    padding-top: 20px;
}

.social {
    min-height: 40px;
    padding-left: 111px;
}

.social__list {
    display: flex;
}

.social__items {
    margin-right: 8px;
}

.social__items:last-child {
    margin-right: 0;
}


.social__link {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/socials/social__sprit.png) 0 0 no-repeat;
}

.inst {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -82px;
}

.telegram {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -164px;
}

.vk {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -246px;
}

.fb:hover {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -41px;
}

.inst:hover {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -123px;
}

.telegram:hover {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -205px;
}

.vk:hover {
    background-image: url(../img/socials/social__sprit.png);
    background-position-x: -287px;
}

.footer__contacts {
    width: 18%;
    padding-top: 14px;
    text-align: right;
}

.contacts__freecall {
    font-size: 11px;
    font-weight: 400;
    color: #999999;
}

.container__service__bg {
    background-color: #0e1e26;
}

.container__service__footer {
    display: flex;
    justify-content: space-between;
}